.dart_tool/
build/
coverage/
pubspec_overrides.yaml
pubspec.lock
.packages
.flutter-plugins
.flutter-plugins-dependencies
.DS_Store
.dn-plugins-dependencies
.idea/
*.iml
*.ipr
*.iws
*.xcuserstate
*.log
.env
.env.*
.dnkeys
*.pem
*.p12
*.mobileprovision
*.apk
*.aab
*.ipa
*.dSYM
*.dSYM.zip
android/app/debug/
android/app/profile/
android/app/release/
ios/DartNative/.last_build_id
.verification/
